@font-face {
    font-family: 'Linux Libertine';
    src: url('LinLibertine_Rah.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

body {
    background: url("billy-huynh-278252-unsplash-small.jpg") fixed;
    background-size: cover;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Linux Libertine', serif;
    line-height: 1.6em;
    font-size: 20px;
}

a:link, a:visited, a:active {
    color: #3498db;
}

a:hover {
    color: #2980b9;
}


h1 > a {
    text-decoration: none;
}

blockquote {
    border: 1px solid #3498db;
    border-left: 5px solid #3498db;
    padding: 15px 30px;
    text-align: justify;
}

blockquote > p {
    font-size: 1.2em;
}

#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    transform: translateX(-50%) translateY(-50%);
    background: url(overlay-video-dark.png);
}

#container {
    max-width: 777px;
    background: hsla(0, 0%, 0%, 0.9);
    margin: 100px auto;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

.stdout {
    font-family: mono, monospace;
    color: #BBB;
    margin-bottom: 5px;
}

.stdin {
    font-family: mono, monospace;
    color: #777;
    background: hsla(0, 0%, 0%, 0.9);
    padding: 5px 10px;
    margin-bottom: 10px;
}

#input {
    background: transparent;
    color: white;
    border: 1px solid white;
    width: 100%;
    padding: 5px 10px;
    font-family: mono, monospace;
    font-size: 20px;
}
